In [2]:
## function -- aakpke koi bhi task ko repetitive krwana ka kaam krta h
## fuction are if two type
## 1 . built in function -- type , len , print
## 2 . user defined functions

In [ ]:
def name():
    ## block of code
    print("hello")
    
## calling a function
name()

hello

In [4]:
## parametrs and argumensts 
## parameters -- information jo pass krta h function ko bnta time
## arguments -- vo information jo function ko call krta time dta h

In [ ]:
## function without parameters
def add():
    a = 10
    b = 20
    print(a+b)
    
add()

30

In [6]:
def addition(a,b):  ## heere a, b is parameters
    return a+b

addition(20 ,30)  ## 20 , 30 is arguments

50

In [7]:
## arbitary arguments -- *args
## jab hma nhi pta hota ki no. of arguments ketna pass honga tb hm eska use krta h

def child(*kids):
    print("the youngest child is " + kids[2])
    
child("email","tobias","linus")

the youngest child is linus

In [8]:
## keyworr argument
## key valu pair me pass hote h

def child(child1,child2,child3):
    print("the youngest child is "+ child3)
    
child(child3 ="email",child1 =" tobias",child2 = "linus")

the youngest child is email

In [9]:
## arbitary keyword arguments --- **kwargs
def child(**kids):
    print("the youngest child is "+kids["child3"])
    
child(child3 ="email",child1 =" tobias",child2 = "linus")

the youngest child is email

In [10]:
## default parameter value
def country(name = "india"): ## default ma valu phla he pass kr dta h
    print("i am from "+name)
    
country("india")
country("japan")
country()

i am from india
i am from japan
i am from india

In [11]:
def fruits(name):
    for i in name:
        print(name)
        
fruits(["apple","banana", "cherry"])

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [12]:
## you have to make a function which can calculat the avg of a list 
def avg(name):
    return sum(name)/len(name)
avg([1,2,3,4,5])

3.0

In [13]:
## function to find largest among three numbers
def find_largest(num1, num2, num3):

    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3

num1 = 12
num2 = 45
num3 = 30

largest = find_largest(num1, num2, num3)

print(f"The largest number in {num1}, {num2}, and {num3} is: {largest}")

The largest number in 12, 45, and 30 is: 45

In [14]:
## some built in functions -- lambda , map , reduce , zip ,enumerate

In [15]:
## lambda -- small anonymous function
## lambda arguments : expression

x = lambda a : a + 10
x = lambda a,b : a + b

print(x(5,15))

20

In [16]:
## map -- used to apply a functio to each item in am iterable and return a map oject
# map(fucton,iterable)
def sq(n):
    return n * n

In [17]:
x = [1,2,3,4,5]
result = list(map(sq,x))
result

[1, 4, 9, 16, 25]

In [18]:

x = [1,2,3,4,5]
result = list(map(lambda n : n*n,x))
result

[1, 4, 9, 16, 25]

In [19]:
## filter (function, iterabable)--
x = [1,2,3,4,5]
result = list(filter(lambda n : n%2 == 0,x))
result

[2, 4]

In [20]:
## reduce
from functools import reduce ## ya line chlne jrure h reduse ko use krna ka leya
## reduce -- it return a single elemnt 
## reduce (function , itrabale)
x = [1,2,3,4,5]
result = reduce(lambda n1 ,n2 : n1+n2,x)
result

## ya left to right chlta h
# [3,3,4,5] -- [6,4,5]--- [10,5]--[15]

15

In [21]:
## zip -- used to combine two or more iterable into single one
## zip(itrable)

x = [1,2,3]
y = ["red","black","blue"]
result = list(zip(x,y))
result

[(1, 'red'), (2, 'black'), (3, 'blue')]

In [22]:
## enumerate
## enumerate (iterable,start=0)

x = ["red","black","blue"]
result = list(enumerate(x))  ## ya elements ka aga no. pritn krta h
result

[(0, 'red'), (1, 'black'), (2, 'blue')]

In [ ]:
x = ["red","black","blue"]
result = list(enumerate(x,start =10),)
result

[(10, 'red'), (11, 'black'), (12, 'blue')]