In [8]:
# for loop -- it is used to iterate over a sequence(list,tuple,dict,range)
# string
for i in "hello": ## here i is temperary variable means used for iteration
     print(i)

h
e
l
l
o

In [2]:
## list 
for i in [1,2,3,4, "hello"]:
    print(i)

1
2
3
4
hello

In [3]:
## tuple
tpl = ("red","black","blue")
for i in tpl:
    print(i)

red
black
blue

In [4]:
## dictionary
dt ={
    "name" : "Aayushi" ,
    "age" : 20 ,
    "hobby" : "Dance"
    }
for i in dt:
 print(i)

name
age
hobby

In [5]:
dt ={
    "name" : "Aayushi" ,
    "age" : 20 ,
    "hobby" : "Dance"
    }
for i,j in dt.items():
 print(i,"---",j)

name --- Aayushi
age --- 20
hobby --- Dance

In [7]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9